8/* CSS PAGE DES CONTENUE */

/* Conteneur principal */
.container {
   margin: 15px;
}

/* Accordion */
#accordion  {
   display:none;
}

/* Style du conteneur */
.container {
   border: 1px solid black;
   border-radius: 20px;
}

/* Style du label de la page des contenus */
#label {
   display:block;
   padding: 10px;
   border-bottom: 1px solid black;
   color: white;
   background: #0076ff;
   z-index: 2; /* placé au-dessus du contenu de l'accordéon */
}

/* Styles des div pour Occupation, Géologie, Slope, Aspect */
#divOccupation #divGeologie #divSlope #divAspect {
   border-bottom: 1px solid black;
   padding: 0;
   opacity: 0;
   max-height: 0;
   overflow: hidden;
   z-index: -1;
   transition: 0.3s linear;
   height: 700px;
}


/* Styles pour afficher le contenu lorsque la case à cocher est cochée */
input:checked ~ #divOccupation  {
   padding: 15px;
   opacity: 1;
   height: 500px;
   z-index: 1; 
   
}

input:checked ~  #divGeologie   {
   padding: 15px;
   opacity: 1;
   height: 500px;
   z-index: 1; 
}


input:checked ~  #divSlope {
   padding: 15px;
   opacity: 1;
   height: 500px;
   width: 300;
   z-index: 1; 
   bottom:5%
}

input:checked ~  #divAspect  {
   padding: 15px;
   opacity: 1;
   height: 500px;
   z-index: 1; 
}

/* Positionnement des div */
#divGeologie #divSlope #divOccupation #divAspect{
   top: 0;
   right: 0;
   left: 0;
   bottom: 10;
}

/* Styles responsives pour les écrans de petite taille */
@media screen and (max-width: 600px) {
   input:checked ~  #divGeologie { height: 550px; }
   input:checked ~ #divOccupation { height: 350px; }
   input:checked ~  #divSlope { height: 350px; }
   input:checked ~  #divAspect { height: 350px; }
   #label { width: 400px; }
#searchResult{width:350px}
}
