/* Style legend geologe sous titre */
.sub-title{
  font-weight: bold;
  margin-bottom: 2px;
  color: red;
  text-align: center;
  font-size: 15px;
  font: 1,8em sans-serif;
  font: bold;
  font-style: inherit;

}


/* Style général de la légende */
.map-legend {
  background-color: white;
  padding: 2px;
  font-size: 14px;
}

/* Style du titre de la légende */
.legend-title {
  font-weight: bold;
  margin-bottom: 10px;
  color: red;
}

/* Style des éléments de la légende */
.legend-item {
  margin-bottom: 5px;
}

/* Style de la couleur géologique */
.geology-color {
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

/* Style du texte de la légende géologique */
.geology-legend p {
  display: inline-block;
  vertical-align: middle;
}















/*  urnanisation */

#map {
    height: 400px;
  }
  .map-legend {
    color: #101010;
    background-color: rgb(149, 155, 155);
    padding: 10px;
    font-family: Arial, sans-serif;
    font-size: 12px;
    border-radius: 10px;
    
    
       
  }
  .legend-item {
    margin-bottom: 5px;
    
  }
  .legend-item span {
    display: inline-block;
    width: 13px;
    height: 10px;
    margin-right: 5px;
  }
  #i{
    width: 30px;
    height: 2px;
  
  }
 
 /* --------------- geologie -----------------*/
 
  
  .legend-item img {
    display: inline-block;
    width: 45px;
    height: 20px;
    margin-right: 5px;
    
  }
  .legend-item p {
    display:inline;
    
   
  }
 
  /* Styles de la légende du slope */
.legend {
  line-height: 18px;
  color: #080808;
  background-color: lightgray;;
  padding: 6px;
  border-radius: 10px;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

  
